/* .Accodian{
    background-color: ivory;
    display:flex;
    flex-direction:column;
    width: 100%;
    max-width: 400px;
}

.AccodianItem{
    background-color:white;
}

.AnswerItem{
    background-color: white;
    border:1px solid #c0c0c0;
    min-height: 60px;
} */